<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Create New Event</h1>
        <form action="/events" method="post">
            <section>
                <label for="name">Enter Event Name : </label>
                <input type="text" id="name" name="name" placeholder="Name"></input>
            </section>
            <section>
                <label for="address">Enter Address : </label>
                <br>
                <textarea id="address" name="address" cols="32" rows="4" placeholder="Address"></textarea>
            </section>
            <button>Submit</button>
        </form>
        <a href="/events">Back to Events List</a>

        <%   %>
      
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>