<br>
<footer class="footer py-1 mt-auto" style="background-color: lightskyblue;">
    <div class="container">
        <span class="text-muted">Event Management Copyright@2023</span>
    </div>
</footer>