.events {
    padding: 1rem;
    /* background-color: rgb(31, 31, 31); */
    background-color:skyblue;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }

  .events-no {
    color: white;
  }
  